<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<!-- layout.html 상속 -->

<div layout:fragment="content">
    <div class="title_line">카테고리</div>

    <aside class="aside_right">
        <a href="javascript: location.reload();">새로 고침</a>
    </aside>

    <!--/* list_all_com.html의 list_all_fragment를 include */-->
    <div th:replace="~{dog/list_search_com::list_search_fragment}"></div>

    <div class="menu_line"></div>

    <div class="flex_div_center" style="width: 90%; margin: 0px auto;">  
        <form name="frm" method="post" action="/dog/create" th:object="${dogVO}">

            <div style="margin-right: 2px; width: 32%; float: left;">
                <input type="text" name="breed" value="" autofocus="autofocus"
                        class="form-control" style="width: 100%;" th:field="*{breed}" placeholder="품종 크기">
            </div>

            <div style="margin-right: 2px; width: 22%; float: left;">
                <input type="text" name="name" value="" autofocus="autofocus"
                        class="form-control" style="width: 100%;" th:field="*{name}" placeholder="품종">
            </div>

            <div style="margin-right: 2px; width: 32%; float: left;">
                <input type="text" name="content" value="" autofocus="autofocus"
                        class="form-control" style="width: 100%;" th:field="*{content}" placeholder="품종설명">
            </div>

            <div style="margin-right: 2px; width: 13%; float: left;">
                <input type="number" name="seqno" value="" min="1" max="1000000" step="1"
                        class="form-control" style="width: 100%;" th:field="*{seqno}" placeholder="출력 순서">
            </div>
            
            <div style="margin-right: 2px; width: 15%; float: left;">
                <select id="visible" name="visible" class="form-control">
                    <option value="출력 모드" selected="selected">출력 모드</option>
                    <option value="Y">Y</option>
                    <option value="N">N</option>
                </select>
            </div>

            <div style="margin-right: 2px; width: 13%; float: left; margin-top: 3px; margin-left: 5px;">
                 <button type="submit" class="btn btn-secondary btn-sm">등록</button>
                <button type="reset" class="btn btn-secondary btn-sm">취소</button>
            </div>

           
        </form>
    </div>

    <!--/* '/cate/list_all_com.html' 파일의 list_all_fragment를 가져다 사용 */--> 
    <div th:replace="~{dog/list_all_com::list_all_fragment}"></div> 

    
</div>

</html>
