<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<head> 

</head> 

<div layout:fragment="content">
  <div class="title_line">강아지 정보 수정</div>

  <aside class="aside_right">
    <a href="javascript: location.reload();">새로 고침</a> 
    <span class="menu_divide">|</span>
    <a th:href="@{|/dog/list_all|}">목록</a> 
    <span class="menu_divide">|</span>
    <a th:href="@{|/dog/delete/${dogVO.dogid}|}">삭제</a> 
    <span class="menu_divide">|</span>
    <a th:href="@{|/dog/dog|}">등록</a>
  </aside>

  <!--/* list_all_com.html의 list_all_fragment를 include */-->
  <div th:replace="~{dog/list_search_com::list_search_fragment}"></div>

  <div class="menu_line"></div>

  <div style="width: 50%; margin: 0px auto;">
    <form name="frm" method="post" action="/dog/update" th:object="${dogVO}">
      <input type="hidden" name="dogid" th:value="${dogVO.dogid}"> <!--/* 값 유지 목적 */-->
      <input type="hidden" name="word" th:value="${word}"> <!--/* 값 유지 */-->
      <input type="hidden" name="now_page" th:value="${now_page}"> <!--/* 값 유지 */-->

      <div>
        <label>품종 크기</label>
        <input type="text" name="breed" value=""
               class="form-control fom-control-sm" th:field="*{breed}">
        <div th:if="${#fields.hasErrors('breed')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err: ${#lists.sort(#fields.errors('breed'))}" th:text="${err}"></div>
        </div>  
      </div>
      
      <div>
        <label>품종</label>
        <input type="text" name="name" value="" autofocus="autofocus"
               class="form-control fom-control-sm" th:field="*{name}">
        <div th:if="${#fields.hasErrors('name')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err: ${#lists.sort(#fields.errors('name'))}" th:text="${err}"></div>
        </div>  
      </div>

      <div>
        <label>품종 설명</label>
        <input type="text" name="content" value=""
               class="form-control fom-control-sm" style="width: 50%;" th:field="*{content}">
        <div th:if="${#fields.hasErrors('content')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err: ${#lists.sort(#fields.errors('content'))}" th:text="${err}"></div>
        </div>  
      </div>

      <div>
        <label>출력 순서</label>
        <input type="number" name="seqno" value="1" min="1" max="1000000" step="1"
               class="form-control fom-control-sm" style="width: 50%;" th:field="*{seqno}">
        <div th:if="${#fields.hasErrors('seqno')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err: ${#lists.sort(#fields.errors('seqno'))}" th:text="${err}"></div>
        </div>  
      </div>

      <div>
        <label>출력 모드(Y/N)</label>
        <select id="visible" name="visible" class="form-control">
          <option value="출력 모드">출력 모드</option>
          <option value="Y" th:selected="*{visible=='Y'}">Y</option>
          <option value="N" th:selected="*{visible=='N'}">N</option>
        </select>
        <div th:if="${#fields.hasErrors('visible')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err: ${#lists.sort(#fields.errors('visible'))}" th:text="${err}"></div>
        </div>  
      </div>

      <div class="content_body_bottom">
        <button type="submit" class="btn btn-secondary btn-sm">수정</button>
        <button type="button" th:attr="onclick=|location.href='/dog/list_search?word=${word}&now_page=${now_page}'|" class="btn btn-secondary btn-sm">취소[목록]</button>
      </div>
      
    </form>
  </div>  

  <!-- 목록 -->
  <!--/* '/cate/list_all_com.html' 파일의 list_all_fragment를 가져다 사용 */--> 
  <div th:replace="~{dog/list_all_com::list_all_fragment}"></div> 

</div>
</html>
